div
{
    display : block;


}

.row1{
  padding-top: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #C3AFA5 0, #6D7D68 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  line-height: 1;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C3AFA5;
  -webkit-animation: color-breathe 10s ease-in-out alternate infinite;
          animation: color-breathe 10s ease-in-out alternate infinite;
}
body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(109, 125, 104, 0) 0, #b58f8f 100%);
}

.blob {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 28vw;
  height: 28vw;
  background: #eddeca;
  border-radius: 100% 95% 93% 90% / 90% 93% 98% 100%;
  -webkit-animation: wobble 24s alternate infinite,  breathe 10s ease-in-out alternate infinite;
          animation: wobble 24s alternate infinite,  breathe 10s ease-in-out alternate infinite;
}
.blob:before, .blob:after {
  content: "";
  position: absolute;
  z-index: 0;
  opacity: 0.1;
  background: #6D7D68;
  border-radius: 100% 95% 93% 90% / 90% 93% 98% 100%;
  -webkit-animation: wobble 24s alternate infinite,  breathe 10s ease-in-out alternate infinite;
          animation: wobble 24s alternate infinite,  breathe 10s ease-in-out alternate infinite;
}
.blob:before {
  width: 38vw;
  height: 38vw;
  top: -3vw;
  left: -5vw;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.blob:after {
  width: 34vw;
  height: 34vw;
  right: -3vw;
  bottom: -4vw;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.blob h1 {
  font-size: 4vw;
  font-weight: 100;
  color: #F0F4F7;
  text-transform: lowercase;
  padding-bottom: .3vw;
  z-index: 100;
  -webkit-animation: breathe 10s ease-in-out alternate infinite,  text-breathe 10s ease-in-out alternate infinite;
          animation: breathe 10s ease-in-out alternate infinite,  text-breathe 10s ease-in-out alternate infinite;
}

@-webkit-keyframes wobble {
  50% {
    border-radius: 90% 94% 98% 100% / 100% 98% 94% 90%;
  }
  100% {
    border-radius: 100% 98% 94% 90% / 90% 94% 98% 100%;
  }
}

@keyframes wobble {
  50% {
    border-radius: 90% 94% 98% 100% / 100% 98% 94% 90%;
  }
  100% {
    border-radius: 100% 98% 94% 90% / 90% 94% 98% 100%;
  }
}
@-webkit-keyframes breathe {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  38% {
    -webkit-transform: translateY(-8%) scale(1.05);
            transform: translateY(-8%) scale(1.05);
  }
  50% {
    -webkit-transform: translateY(-8%) scale(1.055);
            transform: translateY(-8%) scale(1.055);
  }
  65% {
    -webkit-transform: translateY(-8%) scale(1.05);
            transform: translateY(-8%) scale(1.05);
  }
  95% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes breathe {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  38% {
    -webkit-transform: translateY(-8%) scale(1.05);
            transform: translateY(-8%) scale(1.05);
  }
  50% {
    -webkit-transform: translateY(-8%) scale(1.055);
            transform: translateY(-8%) scale(1.055);
  }
  65% {
    -webkit-transform: translateY(-8%) scale(1.05);
            transform: translateY(-8%) scale(1.05);
  }
  95% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes text-breathe {
  0% {
    letter-spacing: 0;
    opacity: .8;
  }
  35% {
    letter-spacing: 0.05em;
    opacity: 1;
  }
  45% {
    letter-spacing: 0.05em;
    opacity: 1;
  }
  95% {
    letter-spacing: 0;
    opacity: .8;
  }
  100% {
    letter-spacing: 0;
    opacity: .8;
  }
}
@keyframes text-breathe {
  0% {
    letter-spacing: 0;
    opacity: .8;
  }
  35% {
    letter-spacing: 0.05em;
    opacity: 1;
  }
  45% {
    letter-spacing: 0.05em;
    opacity: 1;
  }
  95% {
    letter-spacing: 0;
    opacity: .8;
  }
  100% {
    letter-spacing: 0;
    opacity: .8;
  }
}
@-webkit-keyframes color-breathe {
  0% {
    background: #0000;
  }
  33% {
    background: #eddeca;
  }
  66% {
    background: #eddeca;
  }
  100% {
    background: #dbb2b2;
  }
}
@keyframes color-breathe {
  0% {
    background: #dbb2b2;
  }
  33% {
    background: #eddeca;
  }
  66% {
    background: #eddeca;
  }
  100% {
    background: #dbb2b2;
  }
}